


<section>
  <h1><%= @place.name %></h1>

  <p><%= @place.description %></p>



</section>
<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @place.photo %>
</p>

<%= link_to 'Edit', edit_place_path(@place), class:"btn btn-secondary" %> 
<%= link_to 'Back', places_path, class:"btn btn-secondary" %>
